 <div class="left menu">
        <img src="assets/images/logo.png" class="item">


        <div class=" right floated item">
            <div class="ui icon input">
                <input type="text" placeholder="Search...">
                <i class="search link icon"></i>
            </div>
        </div>
 </div>



    <div class="right menu">


        <div class="header item">
            <span class="text">View</span>
            <i class="block layout icon"></i>
            <i class="list layout icon"></i>
        </div>

        <div class="header item">
            <div class="ui simple dropdown">
                <span class="text">Filters</span>
                <i class="dropdown icon"></i>
                <div class="menu">
                    <div class="header">By tags</div>
                    <div class="divider"></div>
                    <div class="item">tag 1</div>
                    <div class="item">tag 2</div>
                    <div class="item">tag 3</div>
                </div>
            </div>
        </div>

        <div class="header item">
            <div class="ui simple dropdown">
                <div class="text">
                    <img class="ui avatar image" src="http://semantic-ui.com/examples/assets/images/avatar/small/jenny.jpg">
                    Emmett
                </div>
                <i class="dropdown icon"></i>
                <div class="menu">
                    <div class="item">Settings</div>
                    <div class="item">Log out</div>
                </div>
            </div>
        </div>
    </div>